{% extends 'base.html' %}
{% load static  %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
    
{% block title %}
    Home
{% endblock title %}

    
{% block content %}

    <!--! i am div start -->

    <div class="contain grid">
        <!--! iam div left part start  -->
        <div class="grid-part">

            <div class="code">&nbsp; &#9001;body&#9002;</div>
            <div class="code">&nbsp;&nbsp;&nbsp;&nbsp; &#9001;div&#9002;</div>

            <div class="code">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#9001;h1&#9002;</div>

            <div class="main-heading">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HI, <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'M <span class="main-t">T</span>hejus,<br>
            </div>
            <br>
            <br>
            <div class="scrolling-words-container">
                <div class="scrolling-words-box">
                    <ul>
                        <li style="color: #ea4335">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coder</li><br>
                        <li style="color: #4285f4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer</li> <br>
                        <li style="color: #34a853">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Self Learner</li>
                        <br>
                        <li style="color: #fbbc04">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Techy</li> <br>
                        <li style="color: #ea4335">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tech Geek</li> <br>
                    </ul>
                </div>
                <span style="color: #5f6368"></span>
            </div>
            <br>

            <div class="code">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#9001;/h1&#9002;</div>

            <div class="code">&nbsp;&nbsp;&nbsp; &#9001;/div&#9002;</div>

        </div>
        <!--! iam div left part end  -->

        <!--! iam div right part start  -->
        <div class="l">

            <div class="image">
                <blockquote class="fy8-position-relative fy8-z-index-1 fy8-bg-contrast-lower fy8-bg-opacity-50% fy8-text-center fy8-padding-y-2xl">
                    <div class="fy8-container fy8-max-width-adaptive-sm">
                      <svg class="fy8-icon fy8-icon--2xl fy8-color-contrast-low" aria-hidden="true" viewBox="0 0 64 64"><polygon fill="currentColor" points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/><polygon fill="currentColor" points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/></svg>
                      <div class="fy8-text-component fy8-margin-top-lg">
                        <p class="fy8-text-xl">Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma – which is living with the results of other people's thinking.</p>
                      </div>
                      <footer class="fy8-margin-top-lg">&mdash; Steve Jobs</footer>
                    </div>
                  </blockquote>
            </div>

        </div>
        <!--! iam div right part end  -->
    </div>

    <!--! i am div end  -->
{% endblock content %}